body{
  background-color: #75E2E9;
  font-family: 'Open Sans', sans-serif;
}

.Container{
  padding: auto;
  margin: auto;
  min-height: 80vh;
  width: 80%;
  margin-top: 10vh;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imageLogo{
  position: absolute;
  background-color: rgb(238, 238, 231);
  border-radius: 7px;
  margin: 1rem;
  height: 8vh;
  top: 10vh;
  left: 40vw;
}

.reinstallBox{
  color: aliceblue;
  font-weight: 700;
}

.installButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.installButton button{
  margin: 1rem;
  background-color: transparent;
  border-color: aliceblue;
  border-width: medium;
  border-radius: 7px;
  color: aliceblue;
}

.optionContainer{
  color: aliceblue;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftCard{
  padding-top: 10vh;
  background-color: #3786BE;
  height: 70vh;
  width: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rightCard{
  padding-top: 10vh;
  background-color: #FFFFFF;
  min-height: 70vh;
  width: 50%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card{
  height: 100%;
  padding: 1rem 2rem;
}

.title{
  font-size: larger;
  font-weight: 700;
}

.leftCard h2 {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 2em;
  color: #FFFFFF;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.leftCard p{
  color: #FFFFFF;
  margin-top: 1em;
  margin-bottom: 1em;
}

.rightCard h2 {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 2em;
  color: #3786BE;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.formtitle{
  color: #3786BE;
  margin-top: 1em;
  margin-bottom: 1em;
}

.rightCard p{
  color: #3786BE;
  margin-top: 1em;
}

.installButton{
  padding: 0.7rem 1rem;
  font-size: larger;
  cursor: pointer;
  border-top-left-radius:7px;
  border-bottom-right-radius:7px;
  border-color: transparent;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formContainer{
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}

.submitButton{
  padding: 0.4rem 1.2rem;
  font-size: larger;
  cursor: pointer;
  border-top-left-radius:7px;
  border-bottom-right-radius:7px;
  border-color: transparent;
  width: max-content;
  align-self: center;
  color: #FFFFFF;
  background-color: #3786BE;
  
}

.inputText{
    width: 80%;
    padding: 11.5px 15px;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 5px 10px;
}

label{
  font-weight: 600;
    font-size: 15px;
    color: #666;
    margin-bottom: 8px;
}